.about_component{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.add_comm{
    color: white;
}

.card-title{
    color: white;
}

.card{
    display: block;
}