<div class="about_component">
    <mat-card class="about_card" style="text-align: center; background-image: url('assets/images/forest.jpg');">

      <mat-card-header>
        <mat-card-title>{{'about.description' | translate}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <h3>
          {{'about.objectivesText' | translate}}
        </h3><br/>

        <h4> 
            {{'about.obj1' | translate}}
        </h4><br/>
        <h4>
            {{'about.obj2' | translate}}
          </h4><br/>
          <h4>
            {{'about.obj3' | translate}}
          </h4><br/>
          <h4>
            {{'about.obj4' | translate}}
          </h4><br/>
          <h4> 
            {{'about.obj5' | translate}}
          </h4><br/>

        <div class="form-group" >
            <div class="card">
                <h3 class="card-title">{{ 'comment' | translate }}: </h3>
                <label class="add_comm">{{'_username' | translate }} </label>
                <label class="add_comm">{{'message' | translate }} </label>

                <div *ngFor="let comment of comments$ | async"> 
                  <input type="text" readonly class="form-control-plaintext" value={{comment.username}}>
                  <input type="text" readonly class="form-control-plaintext" value={{comment.message}}>
                </div>
            </div>
        </div>

      <div class="form-group">
        <label class="add_comm">{{'add_com' | translate }}: </label>
        <input type="text" class="form-control" #message placeholder="Your message">
      </div>
      <button mat-raised-button color="primary" (click)="onSubmit($event, message)">{{ 'post_com' | translate }}</button>
      </mat-card-content>

      </mat-card>

      


</div>
