<div class="main">
    <form (submit)="onSubmit($event, email, password)">
      <div class="form-group">
        <label class="label">{{ 'email' | translate }}</label>
        <input #email type="text" class="form-control" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label class="label">{{ '_username' | translate }}</label>
        <input #username type="text" class="form-control" placeholder="Enter username">
      </div>
      

      <div class="form-group">
        <label class="label">{{ 'password' | translate }}</label>
        <input #password type="password" class="form-control" placeholder="Password">
      </div>
      
      <button mat-raised-button color="primary" style="margin-right:5px;" type="submit" class="btn" (click)="onRegister($event, email, username, password)">{{'register' | translate}}</button>
    </form>
  </div>