<mat-card class="edit-profile-card" style="text-align: center; background-image: url('assets/images/forest.jpg');">
    <mat-card-header class = "header">
      <mat-card-title>{{this.personalName}}</mat-card-title>
      <mat-card-subtitle>{{'edit' | translate}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
    <form (submit)="onSubmit(password, string, picture.files)">
        <div class="container" >    
                <div class="form-group">
                    <label class="label">{{ '_username' | translate }}: {{ this.loggedIn }}</label>
                </div>

                <div class="form-group">
                    <label class="label">{{ 'new_pass' | translate }}: </label>
                    <input type="password" #password class="form-control" placeholder="Password">
                </div>

                <div class="form-group">
                    <label class="label">{{ 'domains' | translate }}: </label>
                    <select multiple class="form-control" >
                        <option *ngFor="let domain of domainsOfInterest" (click)="onSelected(domain)">{{domain}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="label">{{ 'picture' | translate }}: </label>
                    <input #picture type="file" id="file" (change)="onFileInput($event.target.files)">
                </div>

                <button mat-raised-button color="primary" (click)="onSubmit($event, password, picture)">{{ 'save' | translate }}</button>
        </div>
    </form>
</mat-card-content>
</mat-card>
    