footer{
    position: fixed;
    background-color:gray;
    text-align: center;
    width:100%;
    height: 30px;
    bottom: 0;
}

.toolbar{
    text-align: center;
    text-emphasis-color: black;
    top: 0px;
    background-color: gray;
    width: 100%;
    height: 100px;
}

.toggle-button {
    margin-right: 0px;
    // margin-left: 50px;
}

.bar {
    display: flex;
    
}