<mat-toolbar class="toolbar" color="primary">
    <div class="bar" >
        <div>
            <span> {{'home.title' | translate}}</span>
            <span class="example-fill-remaining-space"></span> 
        </div>

    
        <div class="toggle-button">
            <button mat-raised-button color="primary" (click)="onChangeLanguage()">{{ 'change_language' | translate}}</button>
        <span class="example-fill-remaining-space"></span>    

        </div>

        <div class="toggle-button">
          <button mat-raised-button color="warn" (click)="onLogout()">{{ 'logout' | translate}}</button>
      <span class="example-fill-remaining-space"></span>    

      </div>
    </div>
      
</mat-toolbar> 

<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link
      [routerLink]= "['/home']"
      routerLinkActive = "active"
      href = "#">
      {{'navbar.home' | translate}}
    </a> 
    <a mat-tab-link
    [routerLink]= "['/news']"
    routerLinkActive = "active"
    href = "#">
      {{'navbar.news' | translate}}
    </a>
    <a mat-tab-link
    [routerLink]= "['/about']"
    routerLinkActive = "active"
    href = "#">
      {{'navbar.about' | translate}}
    </a>
    <a mat-tab-link
    [routerLink]= "['/profile']"
    routerLinkActive = "active"
    href = "#">
      {{'navbar.profile' | translate}}
    </a>
    <a mat-tab-link
    [routerLink]= "['/coordonator']"
    routerLinkActive = "active"
    href = "#">
      {{'navbar.coordonator' | translate}}
    </a>
    <a mat-tab-link
    [routerLink]= "['/contact']"
    routerLinkActive = "active"
    href = "#">
      {{'navbar.contact' | translate}}
    </a>
    <span class="example-fill-remaining-space"></span>  
</nav>

<router-outlet>
</router-outlet>

<footer>
    <div layout="row" layout-align="center center" flex>
        {{this.copyright}} {{this.myname}}
    </div>
</footer>