<div class="coordonator_component">
  <mat-card class="coordonator-card" style="text-align: center; background-image: url('assets/images/forest.jpg');">
      <mat-card-header>
          <div></div>
        <mat-card-title>{{this.coordonatorName}}</mat-card-title>
        <mat-card-subtitle>{{'coordonator.occupation' | translate}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
      <img class="image" mat-card-image src="assets/images/profile.jpg" alt="Photo of my profile">
        <h3>
          {{'coordonator.researchField' | translate}}
        </h3><br/>
        <h4 >
          {{'coordonator.description1' | translate}}
        </h4>
        <h4 >
          {{'coordonator.description2' | translate}}
        </h4>
        <h4 >
          {{'coordonator.description3' | translate}}
        </h4>
        <h4 >
          {{'coordonator.description4' | translate}}
        </h4>

        <h3>
          {{this.coordonatorContact}}
        </h3>
      </mat-card-content>
      
     
    </mat-card>
</div>
