<div class="profile_component">
    <mat-card class="profile-card" style="text-align: center; background-image: url('assets/images/forest.jpg');">
        <mat-card-header>
            <div></div>
          <mat-card-title>{{this.personalName}}</mat-card-title>
          <mat-card-subtitle>{{'profile.occupation' | translate}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="divimage">
            <div> 
                <img class="image" mat-card-image src="data:image/jpg;base64,{{credential.picture}}">
            </div>
          </div>
        <h3 class="header">
            {{'profile.domains' | translate}}:
          </h3><br/>
          <h4 class="header">
            {{'profile.imageProc' | translate}}
          </h4><br/>
          <h4 class="header">
            {{'profile.oop' | translate}}
          </h4><br/>
          <h4 class="header">
            {{'profile.mobileApps' | translate}}
          </h4><br/>
          
            <h4 class="header">
              {{credential.domains}}
            </h4>
        

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="goToContact()"> {{'profile.contact' | translate}} </button>
          
          <button mat-raised-button color="primary" (click)="goToEdit()">Edit profile</button>
          
        </mat-card-actions>
      </mat-card>
</div>
